@model UserProfileModel
<a class="rounded-circle" href="#" role="button" id="dropdownUser"
   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="avatar avatar-md avatar-indicators avatar-online">
        <img alt="avatar" src="@(Model.Avatar)" class="rounded-circle" />
    </div>
</a>
<div class="dropdown-menu dropdown-menu-end"
     aria-labelledby="dropdownUser">
    <div class="px-4 pb-0 pt-2">
        <div class="lh-1 ">
            <h5 class="mb-1"> @(Model.DisplayName) </h5>
        </div>
        <div class=" dropdown-divider mt-3 mb-2"></div>
    </div>
    <ul class="list-unstyled">
        <li>
            <a class="dropdown-item" href="/Account/Signout">
                <i class="me-2 icon-xxs dropdown-item-icon" data-feather="power"></i>@_localizer["Signout"]
            </a>
        </li>
    </ul>
</div>