@model ForgotPasswordViewModel

@{
    Layout = "_Layout2";
}

<div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
            <!-- Card body -->
            <div class="card-body p-6">
                <div class="mb-4">
                    <a href="/Home/Index"><img src="@Url.Content("~/assets/images/brand/logo/logo-primary.svg")" class="mb-2" alt=""></a>
                    <p class="mb-6">
                        不用擔心，我們會向您發送一封電子郵件以重置您的密碼。
                    </p>
                </div>
                <!-- Form -->
                <form role="form" asp-action="ForgotPassword">
                    <input type="hidden" asp-for="ErrorMessage" />
                    <span asp-validation-for="ErrorMessage" class="text-danger"></span>
                    <!-- Email -->
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="請輸入你的電子信箱(aa@example.com)">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <!-- Button -->
                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-primary">
                            重置密碼
                        </button>
                    </div>
                    <span><a href="/Account/Signin">已有帳號</a></span>
                </form>
            </div>
        </div>
    </div>
</div>