@model ResetPasswordViewModel

@{
    Layout = "_Layout2";
}

<div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
            <!-- Card body -->
            <div class="card-body p-6">
                <div class="mb-4">
                    <a href="/Home/Index"><img src="@Url.Content("~/assets/images/brand/logo/logo-primary.svg")" class="mb-2" alt=""></a>
                    <p class="mb-6">
                        重設密碼
                    </p>
                </div>
                <!-- Form -->
                <form role="form" asp-controller="Account" asp-action="ResetPassword">
                    <input type="hidden" asp-for="ID" />
                    <input type="hidden" asp-for="ErrorMessage" />
                    <span asp-validation-for="ErrorMessage" class="text-danger"></span>

                    <!-- Password -->
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input type="password" asp-for="Password" class="form-control" placeholder="請輸入密碼">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <!-- ConfirmPassword -->
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="請再次輸入密碼">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div>
                        <!-- Button -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                重設密碼
                            </button>
                        </div>

                        <div class="d-md-flex justify-content-between mt-4">
                            <div class="mb-2 mb-md-0">
                                <a href="/Account/Signin" class="fs-5">已有帳號</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>