@{
    Layout = "_Layout2";
}

<div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
            <!-- Card body -->
            <div class="card-body p-6">
                <div class="mb-4">
                    <a href="/Home/Index"><img src="@Url.Content("~/assets/images/brand/logo/logo-primary.svg")" class="mb-2" alt=""></a>
                    <p class="mb-6"></p>
                </div>
                <!-- Form -->
                <div>信件已寄出</div>
            </div>
        </div>
    </div>
</div>