@model SigninViewModel

@{
    Layout = "_Layout2";
}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a href="../index.html"><img src="../assets/images/brand/logo/logo-primary.svg" class="mb-2" alt=""></a>
                        <p class="mb-6">Please enter your user information.</p>
                    </div>
                    <!-- Form -->
                    <form asp-controller="Account" asp-action="Signin" method="post">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="ErrorMessage" />
                        <span asp-validation-for="ErrorMessage" class="text-danger"></span>
                        <!-- Username -->
                        <div class="mb-3">
                            <label asp-for="Account" class="form-label"></label>
                            <input asp-for="Account" type="text" class="form-control" placeholder="請輸入帳號...">
                            <span asp-validation-for="Account" class="text-danger"></span>
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="請輸入密碼...">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <!-- Checkbox -->
                        <div class="d-lg-flex justify-content-between align-items-center
                  mb-4">
                            

                        </div>
                        <div>
                            <!-- Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Sign
                                    in
                                </button>
                            </div>

                            <div class="d-md-flex justify-content-between mt-4">
                                <div class="mb-2 mb-md-0">
                                    <a href="/Account/Signup" class="fs-5">
                                        Create An
                                        Account
                                    </a>
                                </div>
                                <div>
                                    <a href="/Account/ForgotPassword" class="text-inherit fs-5">Forgot your password?</a>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>